.common{
    /* border: 2px solid white; */
    position: absolute;
}
.nav{
    position: relative;
    float: right;
    font-size: 75%;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 65%;
    font-style: italic;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.9);
    color: black;
}
.header{
    top: 5px;
    left: 5px;  
    right: 5px;
    text-align: center;
    z-index: -1;
}
.content{
    top: 80px;
    left: 10%;
    right: 10%;
    background-color: rgba(176, 97, 163, 0.9);
}